/* Global variables*/

:root {
  --clr-primary: #5f9341;
  --clr-body: #394755;
}

/* universal selector */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */

::selection {
  background: var(--clr-primary);
  color: #fff;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  background-color: #fff;
  color: var(--clr-body);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  line-height: 1.5;
  min-height: 150px;
  min-width: 400px;
  padding: 10px;
}

/* styles */

.text-input {
  border: 1px solid var(--clr-primary);
  color: var(--clr-body);
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
}

.btn {
  border: 1px solid var(--clr-primary);
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
}

.btn--primary {
  background-color: var(--clr-primary);
  color: #fff;
}

.btn--outline {
  background-color: #fff;
  color: var(--clr-primary);
}

.list {
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

li {
  margin: 10px 0;
}

li a {
  color: var(--clr-primary);
}
